@page "/"

<Header />

<div class="p-8 bg-white rounded-b-lg">
  <h2 class="font-medium text-2xl mb-4">How Invoicer works</h2>
  <ol class="list-decimal list-inside space-y-2 text-lg">
    <li>
      Connect your bank account with 
      <a
        href="https://crezco.com"
        class="border-b-2 border-indigo-400 hover:text-indigo-500"
      >
        Crezco
      </a>
    </li>
    <li>Enter invoice details</li>
    <li>Create payment link</li>
    <li>Share the payment link with the payee</li>
    <li>
      Payee uses link to pay directly into your bank account with no fees
    </li>
  </ol>
  <p class="text-lg my-8">
    To get started connect your bank to Crezco.
  </p>
  <ButtonLink Href="https://app.sandbox.crezco.com/onboarding?partner_id=heslop-sandbox&redirect_uri=https://crezco-demo.jonheslop.vercel.app/create-invoice">
    Connect Crezco
  </ButtonLink>
</div>

