<header class="bg-gradient-to-tr from-indigo-500 to-indigo-400 rounded-t-lg border-b p-8 text-white">
  <h1 class="mb-4 text-6xl tracking-tighter font-bold">Invoicer</h1>
  <p class="text-xl font-medium max-w-sm">
    Generate invoices, get paid quick, powered by
    <a
      href="https://crezco.com"
      class="border-b-2"
      target="_blank"
      rel="noopener noreferrer"
    >
      Crezco
    </a>
  </p>
</header>
